

@import url("https://use.typekit.net/arg6gew.css");

body{
	width: 1440px;
	height: 900px;

	background: #000000;
}

.title{
	position: absolute;
	width: 187px;
	height: 21px;
	left: 25px;
	top: 23px;

	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;

	color: #FFFFFF;
}

.map{
	position: absolute;
	width: 819px;
	height: 744.64px;
	left: 650px;
	top: 170px;
}

.metro_card{
	position: absolute;
	width: 133px;
	height: 90px;
	left: 1131px;
	top: 23px;
}

.home{
	position: absolute;
	width: 81px;
	height: 81px;
	left: 1306px;
	top: 23px;
}

.the_bronx{
	position: absolute;
	width: 113px;
	height: 24px;
	left: 1111px;
	top: 301px;
}

.queens{
	position: absolute;
	width: 92px;
	height: 27px;
	left: 1210px;
	top: 481px;
}

.staten_island{
	position: absolute;
	width: 159px;
	height: 34px;
	left: 794px;
	top: 698px;
}

.manhattan{
	position: absolute;
	width: 135px;
	height: 24px;
	left: 988px;
	top: 396px;	
}

.brooklyn{
	position: absolute;
	width: 107px;
	height: 26px;
	left: 1022px;
	top: 550px;
}



/* media queries */
@media screen and (max-width: 400px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1140px) {
}

@media screen and (max-width: 1366px) {
}


